[2016-02-23 17:35] natalie-macpherson opened #1 "Names to be added as contributions"
annamisak
natalie-macpherson
paisley-laurenzio
dagerebe
vivkay
ccmadrid
chan0345
gord0186
jian0055
sara-clayton2
jame0139
elisak
seanokai

[2016-02-24 01:54] #1 closed

[2016-02-25 13:41] ccmadrid opened #9 "Effra Typekit font not loading on mobile"
I'm looking into this, but it's really ugly on mobile right now because the custom typeface is not loading on mobile (specifically testing iPhone 5s Safari)

[2016-02-25 17:40] ccmadrid opened #23 "return filename without extension"
@thomasjbradley
so I found the {{something.path}} stuff for jekylll to match up the md filenames to the photos on the amazon server, but I can't figure out how to get rid of the extension. Help please!

[2016-02-25 17:52] thomasjbradley commented on #9
Hmm... what URL are you looking at it with?
Maybe I need to add that as an allowed URL to my Typekit.

[2016-02-25 17:53] thomasjbradley commented on #23
I would probably do something like this:

[code]

[2016-02-25 18:02] ccmadrid commented on #23
ou k I just came up with something tricky hehe I used{{something.url}} and put the pictures in a grads folder too to match. but this was seems much more legit. Thanks!

[2016-02-25 18:06] ccmadrid commented on #23
ou sorry. it gives the whole path like starting from my /user through all the folders to get to it

[2016-02-25 18:07] ccmadrid commented on #9
http://algonquindesign-grads.github.io/2016/
this is the url that I used to view on my phone and there devices. otherwise I'm using localhost stuff

[2016-02-25 18:08] thomasjbradley commented on #23
Can I see in your code where you're using it?

[2016-02-25 18:08] thomasjbradley commented on #23
In the loop for the collection?

[2016-02-25 18:09] ccmadrid commented on #23
`<section class="ph-graduates">
	<ul class="filter-items ph-student">
  {% for student in site.grads %}
      <li class="ph-student" data-category="{% for a in student.specialization%}{{a}} {% endfor %}">
        <a href="#">
        <img class="img-flex ph-gradphoto-top" src="http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016/portraits{{student.path | pretty replace '.md','' }}" alt="{{

[2016-02-25 18:11] thomasjbradley commented on #23
What about `student.name` — `name` is part of the Jekyll collection system.

[2016-02-25 18:12] thomasjbradley commented on #23
Also, you can change the URL for S3, `http://grads.images.algonquindesign.ca.s3.amazonaws.com/2016` to this:

[code]

It's configured in the `_config.yml` file.

[2016-02-25 18:12] ccmadrid commented on #23
ok cool I'll try those

[2016-02-25 18:13] ccmadrid commented on #23
is what I said earlier too iffy? because it seemed to work alright. I'll just need to add a grads folder to match

[2016-02-25 18:16] ccmadrid commented on #23
nvm I think I got it!

[2016-02-25 18:16] ccmadrid commented on #23
`{{site.cdn}}/portraits{{student.url | replace: 'grads/', ''}}`

thanks! I'm getting a bunch of 403s though

[2016-02-25 18:17] thomasjbradley commented on #23
What does the final URL look like when you inspect it in the browser?

[2016-02-25 18:18] ccmadrid commented on #23
lame, i need the .jpg at the end. The thing is that it gives a"/" at the end before I can put the extension

[2016-02-25 18:18] thomasjbradley commented on #23
`replace: '/grads/', ''`

[2016-02-25 18:20] ccmadrid commented on #23
the / is still before the .jpg. hmm

[2016-02-25 18:21] thomasjbradley commented on #9
Okay, that URL is now added to Typekit—should start working on mobile.

[2016-02-25 18:22] thomasjbradley commented on #23
Send me your Jekyll code and what the URL looks like in the browser.

[2016-02-25 18:24] ccmadrid commented on #23
`"{{site.cdn}}/portraits/{{student.url | replace: 'grads/', '/' | remove:'/'}}.jpg"`
got it!

[2016-02-25 18:24] thomasjbradley commented on #23
Super!

[2016-02-25 18:24] ccmadrid commented on #23
but now its sending the 403s I'll check the link in the config?

[2016-02-25 18:25] ccmadrid commented on #23
ooooh nvm. they photos don't exist

[2016-02-25 18:26] ccmadrid commented on #23
I'll wait for everyone to get their crap together.

[2016-02-25 18:26] #23 closed

[2016-02-25 18:29] ccmadrid commented on #9
awesome! works!! I've been working nonstop since like midnight! It's just so exciting that it's finally coming together. so satisfying

[2016-02-25 18:29] #9 closed

[2016-02-26 16:37] ccmadrid opened #40 "if statement for checking for view link"
Instead of having a separate template for videos, let's use the code and include it within an if statement within the inside page using Jekyll. If you want to do this and can assign yourself to if, please ad yourself as an assignee

[2016-02-26 16:39] ccmadrid opened #41 "Inside Page custom title tag"
I tried using Jeklyl inside the front matter to try to get a custom title for the inside pages. I'd like to just append the homepage title of "Framework 2016" with "- {{page.full_name}}" or something similar. If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:41] ccmadrid opened #42 "sidebar content is cut off if browser is too short"
I'm thinking wrapping the sidebar/header in a wrapper and forcing an overflow-y: scroll on it would fix, but I haven't had the chance to try it, and I'm afraid it might break it.  If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:43] ccmadrid opened #43 "what screens does fw-info appear in?"
fw-info is the info about the date and venue for the event.
right now it disappears from medium screens and reappears in the sidebar. where will it go in the medium screens?Maybe we should get rid of it in the inside pages(small screen) but still have it in the sidebar.
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:45] ccmadrid opened #44 "social media svg icons"
Right now the file is pointing to svgs in anna's website. We'll make new ones, put it on the server and point to them using the same format they're in now.
Can we also point the social media icons in the front page to these same svgs?

[2016-02-26 16:47] ccmadrid opened #45 "Previous and next buttons"
We want the previous and next buttons to switch to adjacent students. if possible, we want to wrap around from the first student to the last student. This would be the tricky part I'm thinking.
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:49] ccmadrid opened #46 "style grads filter"
I cannot figure out how to position the grad filter. Can we also create a dropdown for it for small screens as per the prototype? Or do we think this is an unnecessary step? it would look nice on iOS with their native styling for dropdown menus.

 If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:50] ccmadrid opened #47 "teacher photos"
Where do we want to put the teacher photos? Under the grads, or on the bottom of the site as discussed?
 If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:52] ccmadrid opened #48 "Inside pages sprites"
since we already have the sprites on the server, let's use them instead of lastname-firstname-p1, so we don't have to upload more pictures in the server. performance wise I'm thinking this would be better too if the pictures cache(if that's even how websites work); we can implement the same hover feature.
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:54] ccmadrid opened #49 "logo - glow animation #gravy"
the following is #gravy

currently the logo "F" changes to a lighter grey on hover. It would be cool to create an animation that cycles through the brand colours so they can appear more throughout the site.

tips: the svgs are style using fills not background-colours and safari may not transition them as nice as chrome and firefox(so don't fret)

 If you want to tackle this and can assign yourself

[2016-02-26 16:58] ccmadrid opened #50 "fw-info - countdown #gravy"
the following is just #gravy

we can implement viv's countdown (vivkay.github.io/countdown)? within the fw-info. would be a neat addition to the site. we probably want to put this in the fw-info include

 If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 16:59] ccmadrid opened #51 "smooth scroll - #gravy"
the following is just #gravy

we can implement smooth scroll js to the nav

 If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 17:01] ccmadrid opened #52 "Framework button to make website into a wireframe/sketch - #gravy"
the following is just #gravy

if you remember the initial pitch of having a button that changes the styling of stuff to make them look like wireframe/sketches? that's what this is

[2016-02-26 17:02] ccmadrid opened #53 "return to top - #gravy"
I already have the minimal code from the silent auction site for this, so I don't mind adding it, but if anyone else wants to take a crack at it go for it.

[2016-02-26 17:03] ccmadrid opened #54 "email missing from inside pages"
email item missing from inside pages.
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 17:04] annamisak commented on #54
I can work on the inside pages

[2016-02-26 17:06] ccmadrid opened #55 "Change naming of inside pages layout"
right now it's "portfolio-pictures". it's really nit-picky, but I'd like to change it to just "portfolio" and use the if statements to check for video so we only have to worry about one layout.

tips: this means we have to change the layout item in all of the md files.
this can be the last thing to do, or something we can do if someone is still going through all of the md files to remove the comme

[2016-02-26 17:07] ccmadrid commented on #40
maybe we can also do a nested layout for videos if we implement? just a thought. could just complicate things

[2016-02-26 17:13] annamisak commented on #44
I will make all the social media icons and send it once it's ready

[2016-02-26 17:16] annamisak commented on #55
If we can make it work using one template for two different inside page, then we should go for it.

I can also make the changes to the md files when needed.

[2016-02-26 17:18] ccmadrid opened #57 "instagram live feed"
It would be great to have the social med buckets auto-update to our instagram account.
I found this: https://github.com/stevenschobert/instafeed.js
which could be a solution.

[2016-02-26 17:21] annamisak commented on #48
I will work on this and replace the portfolio image to sprite.

[2016-02-26 17:24] annamisak commented on #45
I will give it a try to make the buttons work. If I get stuck I might ask for help

[2016-02-26 17:33] thomasjbradley commented on #48
You’re right @ccmadrid about caching—that's a really good idea.

[2016-02-26 17:36] ccmadrid opened #58 "Video section"
include video section to home page
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 17:36] ccmadrid opened #59 "Blurb Section"
Include blurb section to home page
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 17:37] ccmadrid opened #60 "Event Section"
Include events section to home page
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 17:37] ccmadrid opened #61 "Footer"
Include Footer to home page
If you want to tackle this and can assign yourself to this, please do.

[2016-02-26 17:48] ccmadrid opened #62 "Getting first name and last name using liquid filters"
Instead of having to go into each md file and adding new items just for name stuff like the full_name, short_name, first and last, etc. we can use liquid filters in jekyll to get the first and last names. this will help get individual styling for like the medium page styling. and prevents us from having someone do a ton of grunt work and being extra careful with adding the new name items. Just see

[2016-02-26 17:51] thomasjbradley opened #63 "Left navigation too long on some screens"
The left column navigation is too long and gets cut off on some screens.
I haven't tested this on my MacBook Air, but I expect the problem will be worse there.

<img width="553" alt="screen shot 2016-02-26 at 12 49 37 pm" src="https://cloud.githubusercontent.com/assets/105192/13360516/9f2ac156-dc87-11e5-9f70-c2bcbdadcb2f.png">

[2016-02-26 17:53] thomasjbradley opened #64 "Image alignment"
I feel like these images should align with the name, it matches the space on the other side where the person’s photo will be.

<img width="252" alt="screen shot 2016-02-26 at 12 51 34 pm" src="https://cloud.githubusercontent.com/assets/105192/13360563/d134f626-dc87-11e5-9484-b2512dd98fb4.png">

[2016-02-26 17:54] thomasjbradley opened #65 "Dots missing…?"
Should the grid dots be up behind the person’s name too?

<img width="645" alt="screen shot 2016-02-26 at 12 53 46 pm" src="https://cloud.githubusercontent.com/assets/105192/13360613/10aa94b4-dc88-11e5-8ceb-e1e14e1017d0.png">

[2016-02-26 17:54] annamisak commented on #64
I will add padding when I work on the inside page file

[2016-02-26 17:56] annamisak commented on #65
Yes, I have noticed that too, which I meant to fix. I will remove the background color.

[2016-02-26 18:27] natalie-macpherson commented on #62
We can do this but people with middle initials or multiple middle names may not want to use a initial of one of the middle names over the first letter in their last name. From what Thomas stated on Tuesday it is best to just manually change the md files so we have more control of what is stated and are able to change the content if people are not happy with what content we put in that slot.

[2016-02-26 18:29] #62 closed

[2016-02-26 18:37] annamisak commented on #64
@thomasjbradley  I have double checked the high fidelity wireframe for the inside page, actually there is no white space between the images and the side nav.

<img width="1292" alt="screen shot 2016-02-26 at 1 34 56 pm" src="https://cloud.githubusercontent.com/assets/6360209/13361644/f2d33b66-dc8d-11e5-8050-6d8ad8d50d30.png">

[2016-02-26 18:38] thomasjbradley commented on #64
Okay, but does it feel weird that the person’s photo doesn't align properly with anything?

[2016-02-26 18:51] annamisak commented on #64
I see your point.

In the wireframe desktop image, there, I actually prefer not to have the person's photo flushed against the side of the page and the other images. It creates a separation from the rest which I think it looks nice. In the code I actually removed the top padding and aligned properly with the pictures.

However, when it is viewed on a smaller device it looks rather out of place a b

[2016-02-26 19:07] thomasjbradley commented on #64
This is what I'm thinking:

![grad-alignment](https://cloud.githubusercontent.com/assets/105192/13362381/0cae60fc-dc92-11e5-857f-af1656ddaae7.jpg)

Make it always the same dimensions as the portfolio pieces but separate it a little.
- On small and medium screens there's a space above the person.
- On large there's a space beside the person, but their photo touches the right side of the screen to m

[2016-02-26 19:13] annamisak commented on #64
Yes, it diffinetly looks better this way. I will adjust the spacing around the student's photo. Thanks Thomas.

[2016-02-26 22:52] natalie-macpherson opened #73 "Issues with filter and video"
Can you help Christian and I with the drop-down menu for the filter and making the video controls work for the header video.

@thomasjbradley

[2016-02-27 01:16] thomasjbradley commented on #73
Video fixed in #74

[2016-02-27 01:43] natalie-macpherson commented on #73
It seems like the video is still not working once I merged your content into gh-pages. I hope I didn't do something wrong because I was working on mixins and some other styling things.

[2016-02-27 01:46] #73 closed

[2016-02-27 01:47] thomasjbradley commented on #73
I just merged my filter too—the video is working here:
https://algonquindesign-grads.github.io/2016/

[2016-02-27 01:55] natalie-macpherson commented on #60
Done!

[2016-02-27 01:55] #60 closed

[2016-02-27 01:55] natalie-macpherson commented on #58
Done!

[2016-02-27 01:55] #58 closed

[2016-02-27 02:01] natalie-macpherson commented on #46
Thomas has changed the filter to make it mobile friendly. We just need to style it.

[2016-02-27 04:48] annamisak commented on #64
This has been fixed :)

[2016-02-27 04:48] #64 closed

[2016-02-27 04:49] annamisak commented on #54
Fixed :)

[2016-02-27 04:49] #54 closed

[2016-02-27 12:10] thomasjbradley opened #80 "No `target=_blank`"
Get rid of this and any other uses of `target="_blank"` on the website.
https://github.com/algonquindesign-grads/2016/blob/gh-pages/_layouts/portfolio.html#L55

It’s abusive and takes away user control—it’s especially bad for accessibility and people who aren’t computer savvy.

[2016-02-27 15:42] #80 closed

[2016-02-27 15:43] natalie-macpherson commented on #61
Included but not fully styled

[2016-02-27 15:49] annamisak commented on #55
"portfolio-pictures.html" has been renamed to profile. All the md files has been modified to reflect the change.

Next step: Now my current focus is on connecting the video with the inside page.

[2016-02-27 19:05] vivkay commented on #46
I'm all over this guys. -assignedself

[2016-02-27 22:00] #40 closed

[2016-02-27 22:00] #44 closed

[2016-02-27 22:02] ccmadrid commented on #55
sweet

[2016-02-27 22:02] #55 closed

[2016-02-27 22:06] ccmadrid commented on #42
closing issue because it is the same as thomas'
still not fixed yet

[2016-02-27 22:06] #42 closed

[2016-02-27 22:56] #48 closed

[2016-02-28 00:56] #65 closed

[2016-02-28 01:10] ccmadrid opened #93 "behind the scenes play button plays main video"
guessing we need to make a function that plays and/or create new classes for the player in behind the scenes section

[2016-02-28 02:27] annamisak commented on #41
I will give this a try

[2016-02-28 04:27] ccmadrid commented on #45
@thomasjbradley the thing I added works locally but not on gh-pages. it omits the /2016/ part of the url and I can't find out why. Is there a better way to do this?
[code]
this lets me use {{prevurl}} and {{nexturl}} as the links locally

I used `| prepend: '2016'` on the assign nexturl and assign prevurl to fix that for gh-pages, but then it won't work locally

[2016-02-28 04:48] dagerebe commented on #59
what do you mean by blurb section?

[2016-02-28 04:50] dagerebe commented on #43
I will try to tackle this :)

[2016-02-28 05:06] thomasjbradley commented on #45
What about putting `{{site.baseurl}}` at the front of the `href=""`?

[2016-02-28 05:11] ccmadrid commented on #45
nvm got it sorry I used {{base}}{{prevurl}} because I set up a base thing. site.baseurl would return the current portfolio page for some reason. it works now though!!!

[2016-02-28 05:11] #45 closed

[2016-02-28 05:12] #41 closed

[2016-02-28 05:15] ccmadrid commented on #59
I guess its the about section

[2016-02-28 05:15] #59 closed

[2016-02-28 05:18] natalie-macpherson commented on #47
I have ask the Photography team to make the image and then we can just put it on the site when they are done. Jess said she will try and get an image with all the teachers done.

[2016-02-28 05:21] ccmadrid opened #102 "prev/next button wraparound"
the easiet way I can think of is to do this manually and checking if its the first or last in the list and pointing to jim Z or nadim A respectively, and specifically, but I'd like to automate this somehow with jekyll so no matter who is first or last, it would work.

I'm thinking something to do with the jekyll script that was added

OR

hide the prev or next button when we are at the beginning o

[2016-02-28 08:57] #43 closed

[2016-02-28 08:58] ccmadrid commented on #63
I just resized the text and got people to test. should be ok for now, but if not we can reopen this!

[2016-02-28 08:58] #63 closed

[2016-02-28 13:39] natalie-macpherson commented on #49
I made 1 change to the animation which would add a little colour to the logo in the nav. I added the yellow in the non hover state. I would wondering, maybe we can have the transition happen without the hover and just constantly go through the colours. I want people to see this touch but people will not intuitively know to just hover and not just click on the logo to see the colours. Yes, for some

[2016-02-28 14:46] vivkay opened #111 "style filter drop-down"
Hi @thomasjbradley,

Not sure how to style this drop-down element. It looks like default styling, and I read a couple of blogs saying that it could not be easily styled. Know any tricks?

![screen shot 2016-02-28 at 9 33 48 am](https://cloud.githubusercontent.com/assets/6340292/13379853/fba37378-ddff-11e5-9833-09bec67d6583.png)

The other buttons are styled (but their styles don't automatically ge

[2016-02-28 15:10] natalie-macpherson opened #113 "Spelling and grammar of main content (Content & usability)"
Don't worry about student content. That is not our responsibility to edit. We just need to worry about the content on the main page.

[2016-02-28 15:10] natalie-macpherson opened #114 "All placeholder text/images are removed from website (Content & usability)"

[2016-02-28 15:11] natalie-macpherson opened #115 "Wireframe logo links to homepage (Content & usability)"

[2016-02-28 15:12] natalie-macpherson opened #116 "Content (HTML semantics/ copyright info) is correct and included"

[2016-02-28 15:13] natalie-macpherson opened #117 "All links work (Content & usability)"
http://validator.w3.org/checklink

[2016-02-28 15:14] natalie-macpherson commented on #117
http://validator.w3.org/checklink

[2016-02-28 15:16] natalie-macpherson opened #118 "Images are displayed properly (Content & usability)"
I don't want images that are overly pixelated. If they are we will have to resave them for web. I suggest when student review their content if they make an issue about their images being pixelated then we can make changes.

[2016-02-28 15:16] thomasjbradley commented on #111
Don't style it. It's a default control and is usable by people because it's recognizable.
It's also a common pattern to use a default `<select>` box for navigation and filters on small screens.

[2016-02-28 15:18] vivkay commented on #111
sounds good, thanks @thomasjbradley ! :palm_tree:

[2016-02-28 15:18] #111 closed

[2016-02-28 15:20] natalie-macpherson opened #119 "Design"
I figured this can all go into one issue but here is what we need to check:

- [x] Content had been placed consistently
- [x] Nav is consistently placed
- [x] shared page elements do not shift
- [x] fully responsive with nothing odd happening.(weird spacing, overlapping etc)
- [x] Typography and grid system is applied
- [x] Consistent graphic look and feel
- [x] All page layouts have been tested.

[2016-02-28 15:36] natalie-macpherson opened #122 "All images have alt attribute (accessibility)"

[2016-02-28 15:37] natalie-macpherson opened #123 "Skip links and focus styles (accessibility)"

[2016-02-28 15:40] natalie-macpherson opened #124 "Correct elements have WAI-ARIA landmark roles (Accessibility)"
@thomasjbradley
do we need to include this in the website?

[2016-02-28 15:41] natalie-macpherson opened #125 "Colour contrast (Accessibility)"
Just for the main page and the shared elements on portfolio pages.

[2016-02-28 15:45] natalie-macpherson opened #126 "Tested with accessibility tool (Accessibility)"
- [x] color oracle
- [x] keyboard only
- [x] un-clrd (black and white only) using <img width="48" alt="screen shot 2016-03-02 at 2 51 56 am" src="https://cloud.githubusercontent.com/assets/6340291/13453915/c4fc2364-e021-11e5-8299-78dff31f03dc.png">
- [x] web developer
- [x] color contrast check

[2016-02-28 15:46] natalie-macpherson opened #127 "Proper naming conventions for files (Quality Control)"

[2016-02-28 15:47] natalie-macpherson opened #128 "HTML validation and indentation (Quality Control)"
Note (we are using SCSS so we already know that css validates)

[2016-02-28 15:51] vivkay commented on #46
Note for drop-down (from Thomas): Don't style it. It's a default control and is usable by people because it's recognizable. It's also a common pattern to use a default <select> box for navigation and filters on small screens.

[2016-02-28 15:51] #46 closed

[2016-02-28 16:17] natalie-macpherson opened #129 "All interactions have been tested (Browser Testing)"

[2016-02-28 16:18] natalie-macpherson opened #130 "Tested on many desktop browsers (Browser Testing)"

[2016-02-28 16:19] natalie-macpherson opened #131 "Tested on many devices—phones/tablets/laptops/desktop and so on (Browser Testing)"

[2016-02-28 16:19] natalie-macpherson opened #132 "Tested on screens size 240px to ~2500px (Browser Testing)"

[2016-02-28 16:27] natalie-macpherson opened #133 "Low-bandwidth situation (Browser Testing)"

[2016-02-28 16:28] natalie-macpherson opened #134 "Ad Blocker (Browser Testing)"

[2016-02-28 16:29] natalie-macpherson opened #135 "404 page (Details)"

[2016-02-28 16:29] natalie-macpherson opened #136 "Favicons (Details)"

[2016-02-28 16:30] natalie-macpherson opened #137 "Readme (Details)"

[2016-02-28 16:36] natalie-macpherson opened #138 "Performance budget (Performance)"
https://developers.google.com/speed/pagespeed/insights/
https://www.google.com/webmasters/tools/mobile-friendly/
http://www.webpagetest.org/

I asked a few of my friend from many places around the world (US, Australia, Thailand, Malaysia,  Canada etc) and they all said they had issues loading things on the site. I wonder if this is because it is being hosted on github or if it is because we are us

[2016-02-28 16:38] natalie-macpherson opened #139 "Remove Redundant HTML/SCSS/JS (Performance)"
- filter.js needs to be removed or fixed (webpagetest.org loads the file multiple times)

[2016-02-28 16:40] natalie-macpherson opened #140 "Javascript needs to be concatenated and minified"

[2016-02-28 16:44] natalie-macpherson opened #141 "Metadata and SEO"
@thomasjbradley if we are pushed for time do we need to include this?

[2016-02-28 17:07] vivkay commented on #135
Merged! :rocket:

[2016-02-28 17:07] #135 closed

[2016-02-28 17:14] natalie-macpherson opened #143 "Checklist for in class User testing"
The following is what we need for user testing that the web team will be conducting on Tuesday

- Have students find their image on the landing page and check their portfolio page to make sure everything they want there is there. Have them check it on desktop and on mobile since the content/layout is different for both.

- Check that their name is correct on the homepage and the inside page.

- Cl

[2016-02-28 17:20] thomasjbradley commented on #143
I’m just going to edit your issue a little...

[2016-02-28 17:23] vivkay commented on #137
readme.md completed and merged

[2016-02-28 17:23] #137 closed

[2016-02-28 17:59] vivkay commented on #113
Copy edits for grammar and clarity on home page - complete.

[2016-02-28 17:59] #113 closed

[2016-02-28 18:16] vivkay opened #146 "Filter break"
Hi @thomasjbradley,

I'm trying to find a solution so that we never have one filter button hanging lonely on it's own.

This is ok:

![screen shot 2016-02-28 at 1 11 33 pm](https://cloud.githubusercontent.com/assets/6340292/13380957/25280016-de1d-11e5-83d9-56c3daa7e40e.png)

But this is sad news salmon:
![screen shot 2016-02-28 at 1 11 39 pm](https://cloud.githubusercontent.com/assets/6340292/1338

[2016-02-28 19:30] thomasjbradley commented on #146
The `<div>` solution is really close. You just need to change the CSS a little.

[code]

And remove it from the media query.

[2016-02-29 11:12] #47 closed

[2016-02-29 11:19] ccmadrid commented on #49
ok sure. @thomasjbradley any idea why the hover animation doesn't happen on the home page on hover anymore? Seems like they should both work the same because they're just in the default layout which both pages are using.

[2016-02-29 11:21] ccmadrid commented on #57
userId: 2814574886 
accessToken: 2814574886.24abbcd.b80472d0cab04414b9f58e319e124000

so here are the credentials for our instagram account
I tried following the steps, but no luck. I read somewhere that instagram just recently changed some API stuff and permission stuff. Maybe that's why it's not working, because the tutorials for installed are pretty straightforward

[2016-02-29 11:26] ccmadrid commented on #61
closing because styling and stuff is pretty much done, but just need to fill out the sponsors.yml as we get sponsors

[2016-02-29 11:26] #61 closed

[2016-02-29 11:27] ccmadrid commented on #93
replaced video with embedded vimeo for performance and to solve this issue

[2016-02-29 11:27] #93 closed

[2016-02-29 11:29] ccmadrid commented on #115
do you mean framework logo? if so, it does. reopen if you mean otherwise

[2016-02-29 11:29] #115 closed

[2016-02-29 11:32] #136 closed

[2016-02-29 11:39] thomasjbradley commented on #49
Which animation isn't working on hover? I can see the colours cycling through.

[2016-02-29 13:32] #51 closed

[2016-02-29 13:43] ccmadrid commented on #102
I just did the easy fix and hid stuff when those cases arise. I'm willing to revisit this but for now, this issue is clooooosed

[2016-02-29 13:43] #102 closed

[2016-02-29 15:27] ccmadrid commented on #49
this is happening for me in safari, but works fin in the inside pages

[2016-02-29 16:57] thomasjbradley commented on #49
I don't know if this is the cause, because it doesn't make sense that it would work on the inside pages...

<img width="298" alt="screen shot 2016-02-29 at 11 55 57 am" src="https://cloud.githubusercontent.com/assets/105192/13401762/752e36b6-dedb-11e5-8ef6-e013973b0b6b.png">

The two selectors are different, I think maybe the second one is more powerful.

[code]

Notice how the second one has `svg

[2016-03-01 01:20] natalie-macpherson opened #164 "Default font when loading our font is a serif not a sans serif"

[2016-03-01 01:26] natalie-macpherson opened #165 "Videos on homepage"
The videos on the homepages are the same. We need to change them so the billboard one is different from the behind the scene video. Somebody will have to contact the Motion team to see what the ETA is on their video so we can add them to the site.

If you wish you take this job assign yourself this task

[2016-03-01 04:40] ccmadrid commented on #164
I replaces all the serif stuff with sans serif. so i think it should be ok. can reopen if not

[2016-03-01 04:40] #164 closed

[2016-03-01 12:04] thomasjbradley commented on #141
Yes.

[2016-03-01 12:09] thomasjbradley commented on #138
There are a few reasons why its slow.

- 76 images are loaded on the homepage (nothing can be done about this).
- 7 JS files are loaded (should be concatenated into one as mentioned in #140).
- Yeah, every included video is hella going to slow the website. (I usually get around this by not having a video to begin with, but a static graphic, then clicking the button adds the `<video>` tag to the we

[2016-03-01 12:10] thomasjbradley commented on #134
I don’t see any major problems with my super add blockers. I'm closing this issue.

[2016-03-01 12:10] #134 closed

[2016-03-01 12:11] thomasjbradley commented on #124
Always.

[2016-03-01 12:11] thomasjbradley commented on #122
Except maybe the portfolio pieces... there's no way to describe each of them that's helpful.

[2016-03-01 12:13] thomasjbradley commented on #49
This now kinda flashes because the first colour in the animation is yellow but the logo starts at turquoise.

[2016-03-01 12:15] thomasjbradley opened #170 "Uneven spacing around grad links"
I don't think the spacing should be different in these two places:

![screen shot 2016-03-01 at 7 01 34 am](https://cloud.githubusercontent.com/assets/105192/13426713/4944899a-df7d-11e5-84ab-17b3343f4864.png)

[2016-03-01 12:16] thomasjbradley opened #171 "Uneven spacing around next/prev links"
The space above and below the links is different:

![screen shot 2016-03-01 at 7 01 42 am](https://cloud.githubusercontent.com/assets/105192/13426741/72a81bda-df7d-11e5-89bb-26542976863f.png)

[2016-03-01 12:17] thomasjbradley opened #172 "Copyright text bigger than address"
The text of the footer’s copyright statement is bigger than the event’s address.

![screen shot 2016-03-01 at 7 01 45 am](https://cloud.githubusercontent.com/assets/105192/13426765/9a47faf2-df7d-11e5-8844-a644ef8e77c5.png)

[2016-03-01 12:17] annamisak commented on #122
I can remove the alt attributes from the portfolio section.

[2016-03-01 12:18] thomasjbradley opened #173 "Intro blurb text too small"
Is this text for ants to read?

![screen shot 2016-03-01 at 7 02 08 am](https://cloud.githubusercontent.com/assets/105192/13426782/b0cf59be-df7d-11e5-80c1-c0456d9dacc9.png)

[2016-03-01 12:18] annamisak commented on #170
I will remove the extra space.

[2016-03-01 12:19] annamisak commented on #171
I will adjust the padding there

[2016-03-01 12:35] annamisak commented on #171
Fixed

[2016-03-01 12:35] #171 closed

[2016-03-01 12:36] annamisak commented on #170
Fixed

[2016-03-01 12:36] #170 closed

[2016-03-01 12:37] annamisak commented on #122
Alt attributes has been removed from the student's portfolio images

[2016-03-01 13:41] vivkay commented on #146
Hi @thomasjbradley,

This doesn't seem to be working. I did some more inspecting and found that the .filter-no-break div was connecting, but it had dimensions of 0x0 and appears higher on the browser (see screenshot).

I tried a few more things, but nothing made any affect. Even adding a background colour etc. didn't change anything.

[code]

More inspecting showed that the individual buttons are

[2016-03-01 13:51] vivkay commented on #146
It's ok, Christian figured out a different solution!

[2016-03-01 13:51] #146 closed

[2016-03-01 13:53] thomasjbradley commented on #146
That seems like a lot of trouble.
I downloaded the website and wrote that code in it and it worked properly... oh well.

[2016-03-01 14:08] vivkay commented on #126
@natalie-macpherson all of the labels for the grad type currently fails the contrast check.
![screen shot 2016-03-01 at 9 06 45 am](https://cloud.githubusercontent.com/assets/6340292/13429202/133b08fa-df8d-11e5-9509-c98ec72cc7bb.png)

We need to change to our standard grey #55565a
![screen shot 2016-03-01 at 9 08 31 am](https://cloud.githubusercontent.com/assets/6340292/13429223/386d34ea-df8d-11e5

[2016-03-01 14:10] vivkay commented on #126
I don't even need to test this one…(contrast fail)
![screen shot 2016-03-01 at 9 10 22 am](https://cloud.githubusercontent.com/assets/6340292/13429277/79af37dc-df8d-11e5-8dc1-cb8238eed277.png)

[2016-03-01 14:14] vivkay commented on #126
Also no good:
![screen shot 2016-03-01 at 9 10 59 am](https://cloud.githubusercontent.com/assets/6340292/13429381/f6bdee08-df8d-11e5-8380-df84004a72a2.png)

![screen shot 2016-03-01 at 9 13 53 am](https://cloud.githubusercontent.com/assets/6340292/13429383/f975d354-df8d-11e5-88bb-16e0e114e6da.png)

[2016-03-01 14:14] vivkay commented on #126
I recommend we change them to our standard grey #55565a with white.

![screen shot 2016-03-01 at 9 08 31 am](https://cloud.githubusercontent.com/assets/6340292/13429223/386d34ea-df8d-11e5-9759-9138e166759a.png)

[2016-03-01 14:16] vivkay commented on #126
![screen shot 2016-03-01 at 9 15 58 am](https://cloud.githubusercontent.com/assets/6340292/13429437/3d73020c-df8e-11e5-9c0e-6c4a0df2103a.png)
(no good)

[2016-03-01 14:19] vivkay commented on #126
Another contrast fail

![screen shot 2016-03-01 at 9 19 26 am](https://cloud.githubusercontent.com/assets/6340292/13429531/b7189e0a-df8e-11e5-80d9-1685bda4ca5d.png)

![screen shot 2016-03-01 at 9 19 02 am](https://cloud.githubusercontent.com/assets/6340292/13429521/ac2fd47c-df8e-11e5-95e7-0a24a6a47767.png)

[2016-03-01 14:36] vivkay commented on #126
Recommendations / mockup:

![screen shot 2016-03-01 at 9 35 59 am](https://cloud.githubusercontent.com/assets/6340292/13429995/077f388e-df91-11e5-87ff-d30e9786efd1.png)

[2016-03-01 14:38] vivkay commented on #126
Color oracle checks look good.

[2016-03-01 15:13] dagerebe commented on #114
This has been completed by people other than myself.

[2016-03-01 15:36] natalie-macpherson commented on #114
There are still placeholder images in the footer. They will be removed once we get all the logos for our sponsors

[2016-03-01 15:47] ccmadrid commented on #173
was that a zoolander reference? +500 Christian points
Can we also rewrite the blurb guys? get branding to write something a little more on brand and discuss the theme a bit?

[2016-03-01 15:50] ccmadrid commented on #57
@thomasjbradley I still can't get this to work. should we just scrap getting a live updated instagram feed? could you point me in a different direction to get something similar? I've tried and retried following tutorials with no success

[2016-03-01 15:51] #53 closed

[2016-03-01 16:23] natalie-macpherson commented on #172
Copyright info is smaller now

[2016-03-01 16:23] #172 closed

[2016-03-01 16:24] natalie-macpherson commented on #173
The font is larger. If we want to get branding to write something else we can replace what we have.

[2016-03-01 17:10] thomasjbradley opened #183 "“e” in Behance logo is wonky"
<img width="298" alt="screen shot 2016-03-01 at 12 09 23 pm" src="https://cloud.githubusercontent.com/assets/105192/13435092/8c6c6cb4-dfa6-11e5-852f-23ba8c18a811.png">

On the inside grad pages.

[2016-03-01 17:12] thomasjbradley opened #184 "Remove “Donald Arthur” from Benjamin’s name"
<img width="1053" alt="screen shot 2016-03-01 at 12 11 21 pm" src="https://cloud.githubusercontent.com/assets/105192/13435144/d90f403c-dfa6-11e5-8c40-27af8fba974b.png">

*He has approved the change.*

[2016-03-01 17:17] thomasjbradley opened #185 "Responsive issues"
On medium & small screens:

<img width="429" alt="screen shot 2016-03-01 at 12 13 54 pm" src="https://cloud.githubusercontent.com/assets/105192/13435290/8f1d53b4-dfa7-11e5-93b5-6e5f37716db1.png">

The event title overlaps the image.

---

On small screens:

<img width="240" alt="screen shot 2016-03-01 at 12 14 14 pm" src="https://cloud.githubusercontent.com/assets/105192/13435294/93670438-dfa7-11e

[2016-03-01 17:23] thomasjbradley opened #186 "Tickets button"
It doesn’t go anywhere! (On medium/small screens.) Also isn’t an `<a>` tag.

<img width="390" alt="screen shot 2016-03-01 at 12 13 30 pm" src="https://cloud.githubusercontent.com/assets/105192/13435358/e7a042d0-dfa7-11e5-88b6-c83bcdffe092.png">

---

How do I get to the tickets thing here?
I had to ask Natalie because my brain completely ignored the Eventbrite icon—I thought it was some garbage so

[2016-03-01 17:29] thomasjbradley opened #187 "Some names are still cut off"
- Chenise Summer Paquette
- Mystine Laframboise Vien

<img width="328" alt="screen shot 2016-03-01 at 12 26 12 pm" src="https://cloud.githubusercontent.com/assets/105192/13435583/05f20682-dfa9-11e5-922a-c923aa2cda1b.png">

---

Possible solution: allow multiple lines for names:

<img width="322" alt="screen shot 2016-03-01 at 12 26 44 pm" src="https://cloud.githubusercontent.com/assets/105192/1343

[2016-03-01 17:36] thomasjbradley commented on #138
These images are **HUGE!!**

<img width="906" alt="screen shot 2016-03-01 at 12 34 37 pm" src="https://cloud.githubusercontent.com/assets/105192/13435816/350c4350-dfaa-11e5-969d-914841134679.png">

## 642 KB !?

[2016-03-01 17:39] thomasjbradley opened #188 "Favicon is blurry on retina displays"
<img width="212" alt="screen shot 2016-03-01 at 12 37 56 pm" src="https://cloud.githubusercontent.com/assets/105192/13435874/768b88c2-dfaa-11e5-9346-243689775af4.png">

Needs to be an `.ico` file with both `16px` and `32px` sizes inside.
Generate the file here: http://www.xiconeditor.com/

[2016-03-01 17:49] valeriebordeleau opened #189 "hover state on home page"
There's no hover states for the social media links on the home page.

[2016-03-01 17:53] dagerebe opened #190 "Add arrow to drop down for specialties(or some indication that it drops down)"
Maybe have the first thing it says as "search by specialty" instead of "all" to show that that is a selection.

[2016-03-01 17:53] gumbey opened #191 "Missing Student"
Grant Jeffery is missing from the site.

[2016-03-01 17:56] paisley-laurenzio opened #192 "One student has a full last name while all others only have initial"
Sara Clayton is the only student on the home page with her full last name.

[2016-03-01 17:57] jesspaget opened #194 "Banner Image"
Banner image spacing looks a little awkward. Once the video plays it looks great - it's just the banner image top & bottom spacing.
<img width="1408" alt="screen shot 2016-03-01 at 12 57 00 pm" src="https://cloud.githubusercontent.com/assets/6373211/13436406/1e267176-dfad-11e5-81fb-9f5bfce30583.png">

[2016-03-01 17:57] annamisak opened #195 "Events section overlay overflow (Opera)"
Tested small screen view in Opera 35.0.2066.82

The overlay where the text is over the events images overflows.

<img width="516" alt="screen shot 2016-03-01 at 12 50 27 pm" src="https://cloud.githubusercontent.com/assets/6360209/13436389/038d3426-dfad-11e5-93f8-62052abd04b7.png">

[2016-03-01 17:58] Mike-Slingerland opened #196 "Home page: issues with billboard"
I opened the grad site on my phone and the main video on the home page works, but the pause button stays visible through the whole clip.

**Originally from issue #194**
Banner image spacing looks a little awkward. Once the video plays it looks great - it's just the banner image top & bottom spacing.
<img width="1408" alt="screen shot 2016-03-01 at 12 57 00 pm" src="https://cloud.githubusercontent.

[2016-03-01 17:58] sky-bones commented on #191
OH NOES

[2016-03-01 17:58] gumbey opened #197 "Facebook meta-data"
The meta-data for Facebook preview shows a single student (see photo)

<img width="232" alt="screen shot 2016-03-01 at 12 48 36 pm" src="https://cloud.githubusercontent.com/assets/4565418/13436445/4b2b1b54-dfad-11e5-81ef-ede1f28be28c.png">

[2016-03-01 17:58] kayleemenard opened #198 ""É" is larger than other letters"
On my portfolio page, the "É" is larger than the other letters of my name.

(It doesn't bother me, but it is visible)

And on smaller screen sizes, my name overlaps:
<img width="235" alt="screen shot 2016-03-01 at 1 00 17 pm" src="https://cloud.githubusercontent.com/assets/6373202/13436521/a05ffd7e-dfad-11e5-9277-426806705d06.png">

[2016-03-01 17:59] heathermcd12 opened #199 "Safari - framework logo not in proper place"
<img width="1405" alt="screen shot 2016-03-01 at 12 53 06 pm" src="https://cloud.githubusercontent.com/assets/6333582/13436462/5b956b52-dfad-11e5-9040-e7d64db61b6d.png">

[2016-03-01 17:59] shaayaanjameel opened #200 "Image Hover Error"
When you hover on the images below they have a weird space at the top but all the other grads don't (this only happens when the images start to be 4 in a row). The issue is with Shaayaan Jameel, Vivienne Kay, Elisa Koon, Mystine Laframboise, Paisley Laurenzio, and Emily Lavinskas pictures.

<img width="1082" alt="screen shot 2016-03-01 at 12 55 41 pm" src="https://cloud.githubusercontent.com/asset

[2016-03-01 18:04] #191 closed

[2016-03-01 18:04] thomasjbradley commented on #57
Working on it…

[2016-03-01 18:06] annamisak opened #201 "No contrast between navigation and the student's name background in small screen"
No contrast between navigation and the student's name background in small screen.

Suggestion: changing the BG to white under student's name in small screen view

<img width="816" alt="screen shot 2016-03-01 at 1 04 40 pm" src="https://cloud.githubusercontent.com/assets/6360209/13436667/6e7b18a6-dfae-11e5-87ea-3fcf526335aa.png">

[2016-03-01 18:08] annamisak opened #202 "Student's first and last name in small screen should be same size"
Portfolio view:

<img width="816" alt="screen shot 2016-03-01 at 1 04 40 pm" src="https://cloud.githubusercontent.com/assets/6360209/13436711/95b15ffc-dfae-11e5-8780-0b5644420884.png">

[2016-03-01 18:10] thomasjbradley commented on #198
Turned on French accents... hopefully fixes it.

[2016-03-01 18:19] mcgr0217 opened #203 "Specializations"
- For my specializations, I'd prefer it to be UX-UI, Web and Photography instead of Photography, UX-UI and Web!

[2016-03-01 18:20] ccmadrid commented on #57
CliendId
24abbcdb173242dba04429796732ccd3

[2016-03-01 18:37] ccmadrid commented on #57
new client id:
6cce6426afe248fcb95882aa746d64a5

[2016-03-01 18:40] ccmadrid commented on #57
http://localhost/#access_token=2814574886.6cce642.50e0d6ddd24b4e9abfef4ead0b56dfae

[2016-03-01 18:44] annamisak commented on #198
I think it also might be the line-height needs to be adjusted as well.

[2016-03-01 18:48] #195 closed

[2016-03-01 18:51] elisak commented on #185
Watch all button, on small screen
![screen shot 2016-03-01 at 1 50 55 pm](https://cloud.githubusercontent.com/assets/6330212/13437938/b315f700-dfb4-11e5-867e-f578e64bbf10.png)

[2016-03-01 18:54] shaayaanjameel opened #207 "specializations"
I would like my specialization to be UX-UI/, Web and Illustration instead of illustration, ux-ui, and web.

[2016-03-01 18:54] #203 closed

[2016-03-01 18:55] shaayaanjameel commented on #203
done!

[2016-03-01 18:56] shaayaanjameel commented on #207
done

[2016-03-01 18:56] #207 closed

[2016-03-01 18:58] elisak commented on #185
Ticket bottom may need to be styled, it's not aligned/ feels off
![screen shot 2016-03-01 at 1 57 07 pm](https://cloud.githubusercontent.com/assets/6330212/13438123/9eaa4ed2-dfb5-11e5-9d56-de4446a879ab.png)

[2016-03-01 19:00] #183 closed

[2016-03-01 19:05] #202 closed

[2016-03-01 19:06] #201 closed

[2016-03-01 19:22] paisley-laurenzio commented on #188
I updated the favicon to an ico file on amazon.

[2016-03-01 19:22] #188 closed

[2016-03-01 19:29] #200 closed

[2016-03-01 19:30] #198 closed

[2016-03-01 19:30] #192 closed

[2016-03-01 19:37] vivkay commented on #125
checked with colour oracle.

[2016-03-01 19:37] #125 closed

[2016-03-01 19:38] vivkay commented on #186
- ticket link now in sidebar or middle bar (Contrast updated)
-social links removed (Rebecca)
- countdown timer now on right hand side (Rebecca added)

[2016-03-01 21:08] #184 closed

[2016-03-01 21:45] paisley-laurenzio commented on #199
Several of us checked the site in safari and none of us had the same issue with the miss placed logo. Everything seems to be working now!

[2016-03-01 21:45] #199 closed

[2016-03-01 21:50] dagerebe commented on #194
Is there a way that we can use a frame of the video as the banner ?

[2016-03-01 22:04] paisley-laurenzio commented on #132
I looked at the site on a screen size of 240 and when the navigation is opened it gets cut off.
![screen shot 2016-03-01 at 5 01 00 pm](https://cloud.githubusercontent.com/assets/6371044/13443473/3379e9fa-dfcf-11e5-8d57-1dccac77c347.png)

[2016-03-01 22:21] marisabivi opened #231 "Email"
@shaayaanjameel
In my md file please change my email to hello@marisabivi.ca

Thanks!

[2016-03-01 22:36] thomasjbradley commented on #199
@heathermcd12 What version of Safari are you using?
@paisley-laurenzio What version are you using?

[2016-03-01 23:01] #197 closed

[2016-03-01 23:12] paisley-laurenzio commented on #199
@thomasjbradley I'm using version 9.

[2016-03-01 23:43] natalie-macpherson commented on #231
Update

[2016-03-01 23:43] #231 closed

[2016-03-01 23:46] natalie-macpherson commented on #194
The image is currently a placeholder and will be replaced when we receive another image. If you want to see what the billboard will look like at the end of the day click on the play button. The video is the size of the billboard.

[2016-03-02 01:03] natalie-macpherson commented on #185
Responsive issues fixed

[2016-03-02 01:03] #185 closed

[2016-03-02 01:04] #173 closed

[2016-03-02 01:20] #143 closed

[2016-03-02 01:27] natalie-macpherson commented on #186
The button to get ticket should still be in the about section. Maybe including it under countdown times

[2016-03-02 01:44] sky-bones opened #246 "Missing Unit? (Back to top)"
Might be a glitch situation, but the 'back to top' did this:

<img width="204" alt="screen shot 2016-03-01 at 8 41 17 pm" src="https://cloud.githubusercontent.com/assets/6333963/13448062/11fd05f4-dfee-11e5-9e47-92a496abfd38.png">

It also fully disappears at one point (intentional?)

This happened on my profile page (using chrome,  latest version on my laptop)

[2016-03-02 01:47] sky-bones opened #248 "AdBlock"
AdBlock hides the Twitter icon and the Facebook icon when enabled

[2016-03-02 02:11] thomasjbradley opened #251 "Not a <button> tag."
**This cannot be a `<button>` tag.**

![screen shot 2016-03-01 at 9 10 32 pm](https://cloud.githubusercontent.com/assets/105192/13448543/15f5d664-dff2-11e5-8110-160410582e3c.png)

[2016-03-02 02:34] natalie-macpherson commented on #251
`<button>`tag removed

[2016-03-02 02:35] #251 closed

[2016-03-02 02:47] ahmedzein opened #254 "ahmed el-zein page"
linkedin link is broken replace it with this https://ca.linkedin.com/in/ahmed-el-zein-316469a4

[2016-03-02 03:10] natalie-macpherson commented on #254
fixed

[2016-03-02 03:10] #254 closed

[2016-03-02 03:30] #186 closed

[2016-03-02 03:31] natalie-macpherson commented on #246
Ah we were working on the code and things collapsed it's all good now :) thanks for the heads up!

[2016-03-02 03:31] #246 closed

[2016-03-02 03:33] natalie-macpherson commented on #190
added "search by specialty" above drop down menu

[2016-03-02 03:33] #190 closed

[2016-03-02 03:36] natalie-macpherson opened #256 "Thomas's what if list"
- [x] What if the images don’t download or aren’t visible?
- [x] What if the images are black & white?
- [x]  What if the font-size is significantly larger? Or smaller?
- [x]  What if CSS is disabled or doesn’t load?
- [x]  What if the browser doesn’t support newer CSS features?
- [x]  What if the browser doesn’t support newer HTML features?
- [x]  What if they’re using a text-only browser?
- [ ]

[2016-03-02 05:04] #118 closed

[2016-03-02 05:28] natalie-macpherson commented on #138
images have been resized and saved for web again

[2016-03-02 05:29] #141 closed

[2016-03-02 06:32] #133 closed

[2016-03-02 06:33] #131 closed

[2016-03-02 06:34] #130 closed

[2016-03-02 07:22] natalie-macpherson commented on #57
If the images are not working what are we going to have in its place?

[2016-03-02 07:46] #127 closed

[2016-03-02 07:57] #126 closed

[2016-03-02 09:32] natalie-macpherson commented on #139
Redundant HTML and SCSS has been removed

[2016-03-02 10:50] natalie-macpherson opened #270 "Skip link <id> needs to be on Navigation and on main"
There are several id's on the navigation and an id already on main. Regardless of what added feature we have on our site we NEED to have an id for a navigation skip link to accommodate accessibility standards

@ccmadrid could you fix your idea so we have the skip lines on the right element? The skip links are important.

[2016-03-02 16:01] natalie-macpherson commented on #140
@thomasjbradley It has occurred to me that I am not quite sure how to do this when using SCSS? Can you point me in the right direction. Also for the js would it be better to just put all the js in a single file so we don't have to download multiple files? Did we learn how to minify js? I can't seem to find it in the tutorials...

[2016-03-02 16:04] thomasjbradley commented on #140
I believe you're all using Prepros, right?

If I understand correctly it can do all those things for you... you'll just have to look through it because I don't know how to do it with Prepros.

[2016-03-02 16:28] natalie-macpherson commented on #140
Ok I'll take a look at it.  I know the area where the minifying is in I just have no idea what option to click.

![screen shot 2016-03-02 at 11 26 16 am]
(https://cloud.githubusercontent.com/assets/6340291/13466823/a1eb0564-e069-11e5-8bc8-dd90108c3476.png)

![screen shot 2016-03-02 at 11 26 24 am](https://cloud.githubusercontent.com/assets/6340291/13466828/a614d764-e069-11e5-8214-e4d3b3a844c0.png)

[2016-03-02 16:32] natalie-macpherson commented on #50
Rebecca did this and it looks great!

[2016-03-02 16:32] #50 closed

[2016-03-02 16:48] thomasjbradley commented on #140
I think those options are okay.

For minifying the CSS, you need to select the `style.scss` file and switch to compressed.

<img width="1112" alt="screen shot 2016-03-02 at 11 43 30 am" src="https://cloud.githubusercontent.com/assets/105192/13467427/37b0df36-e06c-11e5-92c4-11120d545127.png">

Here's a tutorial to get Prepros to automatically combine the JS files together.
https://prepros.io/docs/c

[2016-03-02 19:18] natalie-macpherson opened #271 "Filtered images on hover"
I remember talking to @ccmadrid about not having the images transition on a hover if they are filtered out. Are we still doing this?

[2016-03-02 19:46] natalie-macpherson commented on #140
@ccmadrid the .js and .css files have been minified but the js for the navigation, waypoint, instagram are not working when we call upon the main-dist.js file. I would take a look at it. The clock and filter work fine. I have commented out the js. files but they are still in the default.html.

[2016-03-02 21:09] natalie-macpherson commented on #189
Fixed

[2016-03-02 21:09] #189 closed

[2016-03-02 22:37] ccmadrid commented on #271
Yes I'll work on that tonight

On Mar 2, 2016, at 14:18, natalie-macpherson <notifications@github.com<mailto:notifications@github.com>> wrote:

I remember talking to @ccmadrid<https://github.com/ccmadrid> about not having the images transition on a hover if they are filtered out. Are we still doing this?

-
Reply to this email directly or view it on GitHub<https://github.com/algonquindesign-grads/

[2016-03-03 01:58] #248 closed

[2016-03-03 15:43] gumbey opened #275 "Side bar"
I don't know if this is already a issue but,

When full screen on my laptop
-nav buttons have a scroll bar
-Framework is cut off

Image for the visual people.
<img width="849" alt="screen shot 2016-03-03 at 10 08 18 am" src="https://cloud.githubusercontent.com/assets/4565418/13499478/9ef5cb14-e12c-11e5-94bf-741f69fab599.png">

[2016-03-03 16:51] natalie-macpherson commented on #275
This is happening because we have disabile js. its fine. Thanks for the heads up!

[2016-03-03 16:51] #275 closed

[2016-03-03 19:28] thomasjbradley commented on #140
@natalie-macpherson Double check that the JS files in `main.js` are in the same order they were in `default.html`.

[2016-03-03 20:28] natalie-macpherson commented on #140
@thomasjbradley They are the same on both the `main.js` and `default.html`

[2016-03-04 03:47] natalie-macpherson opened #279 "Hover state on graph photos on load"
Tiffany mentioned and showed me today that the hover state for the grad photos on load are really lagging...have no idea why. It only happens in Chrome.

@thomasjbradley do you know why?

[2016-03-04 04:40] dagerebe commented on #187
I think that someone fixed this.
Is anyone working on putting the full names on the smaller screens?

[2016-03-04 05:02] natalie-macpherson commented on #187
It's kind of solved but not really. The names are not cut off but the area for the names are not uneven. Some are bigger then others. We are going to solve this another way.

[2016-03-04 07:32] #117 closed

[2016-03-04 08:02] #116 closed

[2016-03-04 08:02] natalie-macpherson commented on #116
As far as I can see this is complete

[2016-03-04 11:45] #271 closed

[2016-03-04 11:51] ccmadrid commented on #165
I changed the video in my branch and it'll update when its merged, but we still need t get the actual videos for both the behind the scenes stuff and the hero video

[2016-03-04 11:52] ccmadrid commented on #194
we can definitely use a frame of the video for the banner, but this isn't the correct video. we need to bug motion to get both this hero video and the behind the scenes playlist

[2016-03-04 11:54] ccmadrid commented on #140
the problem was in vivs js that was called first & the filter doesn't use js anyways so that should always work. there was an unused function in the clock js that was looking for something that didn't exist. since Natalie combined them that put a halt on the rest of the javascript. There was nothing wrong with my stuff hehehe nice try though Natalie.

[2016-03-04 11:54] #140 closed

[2016-03-04 11:59] ccmadrid commented on #49
I changed the animation to start at the current theme colour to prevent the flash

[2016-03-04 11:59] #49 closed

[2016-03-04 12:00] ccmadrid commented on #57
i just hid that section if there is no javascript. there are social media icons at the top anyways. reopen if you're unhappy with this change

[2016-03-04 12:00] #57 closed

[2016-03-04 12:13] ccmadrid commented on #270
CHANGED

[2016-03-04 12:14] #270 closed

[2016-03-04 12:15] ccmadrid commented on #114
placeholder videos need to be replaced too guys

[2016-03-04 12:26] #122 closed

[2016-03-04 12:36] ccmadrid commented on #124
I think I did this right.

@thomasjbradley would you consider the dropdown menu for the grad filter a "form" or even the whole filter as an "application"?

should we even touch the document structure roles and widget roles that are in the w3 documentation?

[2016-03-04 13:19] ccmadrid commented on #128
I was able to fix most of the validation stuff. One thing that stuck out is that Sara Clayton has 2 specialties and I wrote the jekyll to have spacing between three of them, so we're getting the error that the attribute is ending in white space. I'll talk to her about just adding a third.

Not sure how to fix the rest. I had hid an H1 before but I know that's bad etiquette. but at least it validat

[2016-03-04 13:35] natalie-macpherson commented on #114
@ccmadrid  They video might be on vimeo so I would check there if not contact the motion team.

[2016-03-04 13:37] natalie-macpherson commented on #140
I'm glad you were able to solve the issue. Good work.

[2016-03-04 13:38] natalie-macpherson commented on #165
please refer to issue #114. I am closing this issue.

[2016-03-04 13:38] #165 closed

[2016-03-04 13:41] natalie-macpherson commented on #49
Nice change it looks a lot better and not as distracting.

[2016-03-04 14:05] natalie-macpherson commented on #52
I don't think we are going to do this one with the time we have remaining. @ccmadrid If you feel you have time at the very end you are more then welcome to take this one on. In the meantime I am closing this issue.

[2016-03-04 14:08] ccmadrid commented on #138
@thomasjbradley is your video fix a js thing?

[2016-03-04 14:10] ccmadrid commented on #256
I think I fixed the smaller/bigger screen issues. close if it pleases you

[2016-03-04 14:12] ccmadrid commented on #114
@paisley-laurenzio lol can you make a 1920x1080 image to be the poster for the video. Please & Thanks!

[2016-03-04 14:15] ccmadrid commented on #187
The proposal was to have the short name by default and have the bottom part extend up to reveal the full name on hover. what do you guys think? there are weird times when the area would look too large for just the short name, so we might have to make intermediate media queries to solve this

[2016-03-04 14:21] ccmadrid commented on #139
great. other than the video webpagetest looks pretty decent. good job everyone! i still think the css needs  to be combed through to see if there are unused styles, and elements combed through to see if there are unused classes.

[2016-03-04 14:22] natalie-macpherson commented on #132
Additional issue on 240px screens:

<img width="102" alt="screen shot 2016-03-04 at 9 13 33 am" src="https://cloud.githubusercontent.com/assets/6340291/13529333/a8141a4e-e1e9-11e5-8c48-b4de678b4052.png">

And thoughts about this:
![screen shot 2016-03-04 at 9 13 50 am](https://cloud.githubusercontent.com/assets/6340291/13529447/44fd9600-e1ea-11e5-9690-e0b2d5162026.jpg)

Should we drop the second n

[2016-03-04 14:24] dagerebe commented on #132
I can fix that and make it a square on smaller screens!

Sent from my iPhone

[2016-03-04 14:25] natalie-macpherson commented on #256
I will close this for now. Please refer to issue #132

[2016-03-04 14:25] #256 closed

[2016-03-04 14:30] ccmadrid commented on #132
sorry guys, I assumed the only thing breaking was my nav

[2016-03-04 14:34] thomasjbradley commented on #279
It looks like its just because there are so many photos being loaded... at least if I'm seeing the problem you're mentioning.

[2016-03-04 14:34] natalie-macpherson commented on #187
This is what you are talking about, correct. I am just making sure that I am and other are on the same page with a visual.

Shorter name with lots of space:
<img width="235" alt="screen shot 2016-03-04 at 9 33 33 am" src="https://cloud.githubusercontent.com/assets/6340291/13529833/3496b0e2-e1ec-11e5-893a-0f63025a3bc6.png">

Longer name with less space:
<img width="235" alt="screen shot 2016-03-04

[2016-03-04 14:34] ccmadrid commented on #279
when I spoke to her she brought up page-paint times. I did update the styling or the grad photos, so we should run it through tests again.

[2016-03-04 14:35] ccmadrid commented on #187
I oppose lol

[2016-03-04 14:38] thomasjbradley commented on #124
I don't think you need `form` or `application` on the filter, it's good enough as it is.

[2016-03-04 14:38] natalie-macpherson commented on #194
I am going to close this issues and make reference to it in issues #196. They are very similar is context.

[2016-03-04 14:38] #194 closed

[2016-03-04 14:38] thomasjbradley commented on #124
The rest of the roles look good.

[2016-03-04 14:38] ccmadrid commented on #124
sweeeeeeeet

[2016-03-04 14:38] #124 closed

[2016-03-04 14:43] thomasjbradley commented on #138
@ccmadrid Yeah, we'd display just a regular `<img>` tag on the page. When the user clicks that `<img>` we delete that tag from the HTML and insert a `<video>` tag that autoplays with JS.

[2016-03-04 15:07] paisley-laurenzio commented on #132
Also I noticed on small screens we have some dropping happening.
![screen shot 2016-03-04 at 10 07 26 am](https://cloud.githubusercontent.com/assets/6371044/13530745/ef12324e-e1f0-11e5-9574-f0cc9ebd8eda.png)

[2016-03-04 15:19] paisley-laurenzio opened #287 "Return To Top Button Text Overlap"
I noticed that on all screen sizes the Return To Top button gets smushed and the text overlaps itself when you are viewing the individual portfolio pages. On the home page it is fine though.

![screen shot 2016-03-04 at 10 19 31 am](https://cloud.githubusercontent.com/assets/6371044/13531072/9bf0c29a-e1f2-11e5-984b-d2186bb839be.png)

[2016-03-04 15:57] paisley-laurenzio commented on #187
What if the grey bars were all constant in hight and all of the names stacked the first name above the last name even for the shorter names? That way they would all still look vertically similar? Just a thought.

[2016-03-04 16:02] dagerebe commented on #187
I think we should try what paisley said!

[2016-03-04 16:06] ccmadrid commented on #187
Great idea! You guys are awesome

Sent from my iPhone

On Mar 4, 2016, at 11:04, dagerebe <notifications@github.com<mailto:notifications@github.com>> wrote:

I think we should try what paisley said!

-
Reply to this email directly or view it on GitHub<https://github.com/algonquindesign-grads/2016/issues/187#issuecomment-192334510>.

[2016-03-04 16:09] vivkay commented on #187
Agreed!!

[2016-03-04 16:46] sara-clayton2 commented on #187
I like that idea too!

[2016-03-04 18:18] ccmadrid commented on #287
ou should I just disable it for the inside pages? there isn't enough content to justify having it. agree disagree?

[2016-03-04 19:22] natalie-macpherson commented on #287
@dagerebe and I think we should disable it on the inside pages because it is not long enough to warrant it.

[2016-03-04 22:14] natalie-macpherson opened #289 "Issue with nav on inside page for chrome on PC"
![inside-nav issue](https://cloud.githubusercontent.com/assets/6340291/13541786/77d46166-e22c-11e5-98a6-cefd2b6f0a87.jpg)

Not sure how we can fix and test this because it works fine on our macs.

Note: My chrome I believe is up to date.

[2016-03-05 03:26] annamisak opened #291 "Blurb disappear in small screen view"
The club section no longer available when the screen is less 480px wide.

<img width="531" alt="screen shot 2016-03-04 at 10 25 35 pm" src="https://cloud.githubusercontent.com/assets/6360209/13545398/2cb55b8c-e258-11e5-888d-92471d00cc37.png">

[2016-03-05 03:43] ccmadrid commented on #289
probably just forcing an overflow: visible on the nav element. Does this happen for the other screen sizes? can you do that in the inspector and see if that fixes it? pls and thanks

[2016-03-05 05:14] natalie-macpherson commented on #291
In the design for the wireframe on small screens the about info disappears. .

[2016-03-05 15:22] natalie-macpherson commented on #289
Overflow:visible fixes the issue. The issue only happens on large screen when the nav in on the side.

[2016-03-05 15:27] #287 closed

[2016-03-05 15:29] #289 closed

[2016-03-05 16:57] ccmadrid opened #298 "can't focus on filter buttons"
@thomasjbradley is there a way to focus on the filter buttons? I'm starting to add focus states for accessibility and I can't tab onto the filter

[2016-03-05 17:05] thomasjbradley commented on #298
You can try adding `tabindex="0"` to each of the labels... that should do it.

[2016-03-05 17:07] ccmadrid commented on #298
ok I'll try that thanks

[2016-03-05 17:08] natalie-macpherson commented on #123
Opening up issues again. I completely forgot about focus states on the filter. Nice catch @ccmadrid!

[2016-03-05 17:13] ccmadrid commented on #291
I just left the blurb section in. it also makes sure the layout for the countdown doesn't break. I'll add a no script styling for the countdown too so that if there's not js it won't look blank with the day/hr/min/s headings

[2016-03-05 17:13] #291 closed

[2016-03-05 17:16] ccmadrid commented on #298
@thomasjbradley ok I can focus on them but I can't press space or enter to make use of them

[2016-03-05 17:45] ccmadrid commented on #123
@thomasjbradley is there a way for once we hit enter on a navigation focus, it changes the item thats in focus to the first link of that section? it's weird if I choose "connect" for example, it will bring me down to connect, but then if I hit tab, it will bring me back up.

[2016-03-05 18:08] ccmadrid commented on #138
so I tried just replacing the video with an img and doing tests with webpage test. it definitely doesn't have the video loading problem, but the overall page load time is still pretty yikes. I'll try making the js built video tag anyways, but thought I'd let you guys know I tried doing tests with just the image

[2016-03-05 18:09] thomasjbradley commented on #298
A little bit of Javascript helps out:

[code]

[2016-03-05 18:15] thomasjbradley commented on #123
Some Javascript + some `tabindex`:

[code]

Then onto each of the `<div>` tags that match the ID for the nav links add `tabindex="0"`.

[2016-03-05 18:15] ccmadrid opened #301 "voiceover on grads reads both full_name and short_name"

[2016-03-05 18:26] ccmadrid commented on #123
sweet I can get this to work with control+option+space, but if I use enter, its the same as before. is  control+option+space something that's more likely to be used for people who need this form of accessibility?

[2016-03-05 18:28] thomasjbradley commented on #123
Is that with VoiceOver on?
Then, yes, that's part of VoiceOver’s system.

[2016-03-05 18:29] ccmadrid commented on #123
no, I turned it off to test it as well

[2016-03-05 18:32] thomasjbradley commented on #123
Huh... what browser? I tested in Firefox.

[2016-03-05 19:05] #132 closed

[2016-03-05 19:06] ccmadrid commented on #123
I'm using chrome right now. so if I press enter when focused on a nav link and then press tab it brings me to the next item in the nav list

[2016-03-05 19:10] ccmadrid commented on #119
only thing is on the inside pages at 240px wide, some really long emails get cut off

[2016-03-05 19:13] ccmadrid commented on #119
affects: valerie, michelle, brendan, marissa, paisley, sam, christianne, liz, chenise, mike
my solution would be to make an email icon for this tiny screen size

[2016-03-05 19:20] ccmadrid commented on #138
hey @thomasjbradley what do you think about making smaller thumbnail versions of the grads for the front page? using the inspector I found that the largest they ever get is around 300px. so that x2 would be 600px and they're 960px right now. soon we could save a bit. worth it?

[2016-03-05 19:26] thomasjbradley commented on #138
Yeah, that would probably make a big difference for loading the homepage, but then we'd lose the caching performance of the inside pages because they'd be using a different image.

It's probably worth it because the front page performance would be much better and the inside pages would just get a tiny bit slower, probably nobody would notice.

[2016-03-05 19:26] thomasjbradley commented on #123
Is this committed to the live version so I can test?

[2016-03-05 19:56] ccmadrid commented on #123
yes it should be

[2016-03-05 19:57] ccmadrid commented on #138
ok great. ya on the inside pages, the biggest they get is around 600px, so the 960px is still necessary I guess?

[2016-03-05 20:19] #298 closed

[2016-03-05 20:25] ccmadrid commented on #301
got it used aria-hidden="true" for the short name, but i think its ok because there's still the other name that's being read

[2016-03-05 20:25] #301 closed

[2016-03-05 20:28] ccmadrid commented on #114
cool so I don't think there are any more placeholders. the banner up now is going to be a carousel that will lead to the different corresponding videos, but it's not a placeholder, so I'm going to close this

[2016-03-05 20:28] #114 closed

[2016-03-05 20:58] ccmadrid commented on #128
just validated main page and both cases for inside pages. everything validates except a few of unrecognized meta tags and a missing label for the filter, empty(by choice) alt attributes for the inside pieces, and the empty instagram ul that gets filled through javascript.

Just need to clean up indentations and looking at the index in the _site folder, it's pretty close

[2016-03-05 23:05] thomasjbradley commented on #123
Just tested in Chrome and seems to work for me... let's call it good enough.

[2016-03-06 00:18] #123 closed

[2016-03-06 00:19] ccmadrid commented on #119
@dagerebe changed it to the icon on tiny screens!

[2016-03-06 00:19] #119 closed

[2016-03-06 00:19] ccmadrid commented on #196
changed to the newish billboard. closing this for now. I'll work on making the new one snazzy tonight

[2016-03-06 00:19] #196 closed

[2016-03-06 04:04] shaayaanjameel commented on #187
ya thats a good idea

[2016-03-06 07:59] #128 closed

[2016-03-06 08:05] ccmadrid commented on #138
I made 640px wide versions, and they seem to help a bit. cut the full page load time by 4 seconds (15ish to 11ish); I could just be placebo-ing myself, but I feel that the page paint times are better, and the hover stuff is smoother. closing

[2016-03-06 08:05] #138 closed

[2016-03-06 08:07] ccmadrid commented on #279
I think that having the smaller portraits helped with the page paint times. we could push it and go smaller to like 500px and probably save a handful of percents. I think this has been kind of resolved. closing

[2016-03-06 08:07] #279 closed

[2016-03-06 08:09] ccmadrid opened #319 "Navigation menu pops open on page load"
When I first load a page, or refresh it, the navigation pops open for a split second then closes. Any idea of how to fix this? It's very minimal, but I feel this makes it look a little sloppy. (probably because I may have built it pretty sloppily) Can someone check this out?

[2016-03-06 08:15] ccmadrid opened #320 "Instagram likes"
The instagram feed looks a bit dull, and has little context. I feel adding the like heart in the top corner of the photos could help show that it's an instagram feed. I know you can get the number of likes through the installed.js that generates the images, so it would be cool it the number was beside the heart

[2016-03-06 08:17] ccmadrid opened #321 "Social Media Icon focus/hover states"
Just being picky about the look of the hover states for the icons, but it feels a bit too slow, and maybe it should stay big while it's hovered. these hover states should also be focus states

[2016-03-06 08:25] ccmadrid opened #322 "Billboard/video area"
Right now, the Billboard is simplified from what I had intended it to be
To keep it simple, I'd like to just add some sort of animation or javascript that cycles through the different steps, while highlighting the corresponding shape.

_(with no js, the images cycle automatically while the shapes are hidden. could be cool to unhide the shapes and have the highlight correspond to the image being sh

[2016-03-06 08:33] ccmadrid opened #323 "Sponsor logos"
Here is a list of companies that I think donated to our silent auction. It would be nice to have logos made for our sponsor section made just in case we do clarify that they're a sponsor
- [ ] The Grand
- [ ] Doree's Habit
- [ ] Metropolitan
- [x] Nspired
- [ ] Algonquin Dental
- [ ] Connections Bookstore
- [ ] Off The Dome (lol)
- [x] Subway
- [ ] Kungfu Bistro
- [x] Algonquin SA

This should def

[2016-03-06 08:40] ccmadrid opened #324 "Rewrite Blurb"
I've mentioned this to a few people, but I feel that the tone of the blurb is a little too casual, and the "bring forth" makes it feel a little cheesy/fake. Also, not enough background for the theme is mentioned, which is unfortunate because there's so much that can be said that would clarify design elements in the website, and encourage the viewer to browse the whole site. There's a call to actio

[2016-03-06 08:46] ccmadrid opened #325 "Eventbrite Page"
We have links to the Eventbrite page, but the actual Eventbrite event page is lacking. we can assume that once we launch on tuesday, people might start booking tickets, so this is an opportunity to carry our brand through more than just our site. We need to be prepared to create two classes of free tickets, (family/friends & industry) with different times associated with them so we can get an idea

[2016-03-06 08:57] ccmadrid opened #326 "Secret Prof's Page"
I plan to work on this while we're out on coop, and merge it maybe after the grad show is over? whoever wants in, please help me! When it's ready to add onto the site, we can close this issue. or if we decide to scrap the idea

some things to consider:
- [ ] find out how to create a secret entryway into the teachers page that we would instruct the profs how to get to (js long press using js timers

[2016-03-06 09:25] ccmadrid commented on #325
I have the login info for whoever wants to tackle, this. I think I have to send it over a private message on Facebook or text or in person. unless here is ok @thomasjbradley

[2016-03-06 13:12] vivkay commented on #326
I'll help out with this @ccmadrid

[2016-03-06 13:17] vivkay commented on #324
I'll chat with Branding about the wording for the theme and re-write something this morning. *in progress*

[2016-03-06 13:25] ccmadrid commented on #326
sweeeeeet

@paisley-laurenzio Shopify squad project?

[2016-03-06 13:27] vivkay commented on #323
Following up with some of these now - will update on progress this morning.

[2016-03-06 17:28] thomasjbradley commented on #325
No, please don’t post it here—it'll be completely open to the whole Internet.

[2016-03-06 18:53] ccmadrid commented on #323
o ya I don't know who the other sponsors are. I think the Kate Spade thing was from a student. I didn't get much info as to what was donated by people and what was donated by a sponsor. I'll try to find out more

[2016-03-06 20:27] vivkay commented on #323
Re-styled logos with text only to avoid issues collecting logos (time constraints) and for greater aesthetic control and accessibility-friendliness. :baby_chick:

[2016-03-06 20:27] #323 closed

[2016-03-06 20:56] vivkay commented on #325
Syd S. (Brand lead) and I are on this today. :penguin:

[2016-03-06 23:01] vivkay commented on #324
Copy re-written, approved by Brendan (branding rep), shared on FB for team comments, and re-worked with @ccmadrid

[2016-03-06 23:01] #324 closed

[2016-03-07 03:24] vivkay commented on #325
wait…two classes of tickets...hmmm. Looking at it.

[2016-03-07 03:32] #325 closed

[2016-03-08 11:43] #321 closed

[2016-03-08 11:43] #320 closed

[2016-03-08 11:44] #129 closed

[2016-03-08 11:53] ccmadrid commented on #139
I used the inspector's audit feature to find out what classes aren't being used. it's saying 64% of the rules in our style.css are not being used (mainly from the grid and typography libraries) I'm closing this for now, but if you guys think going through and only keeping the ones we use would help, then we can reopen this
<img width="387" alt="screen shot 2016-03-08 at 6 51 45 am" src="https://cl

[2016-03-08 11:53] #139 closed

[2016-03-08 17:54] #52 closed

[2016-03-08 17:54] #187 closed

[2016-03-09 16:35] chan0345 opened #335 "Bug in Samsung Galaxy S4"
I was on my phone (Samsung Galaxy S4), in the Facebook app, clicked on the Grad Show link and this is how it shows. I try to scroll and use the nav menu, but still that's all that can be seen.

If I click the menu in the very top corner and Open in Chrome, it works perfectly fine though. It's just Facebook's preview website feature, so I'm not sure if this is something that can be fixed?

![screen

[2016-03-09 18:03] rajaaalsubairi opened #336 "bug in Iphone 4s"
Page doesn't load. I think it's hidden behind the grey.

![img_4823](https://cloud.githubusercontent.com/assets/6371032/13645060/1649fb94-e5f7-11e5-9f82-1d701213f4af.png)

[2016-03-10 03:31] isabelle6 opened #337 "Bug in Internet Explorer 11"
The countdown timer doesn't work in Internet Explorer 11 on desktop. It replaces the numbers with NA.

![framework ie screenshot](https://cloud.githubusercontent.com/assets/6333962/13658582/799cf8aa-e646-11e5-91db-65afffd4fced.png)

[2016-03-16 17:21] paisley-laurenzio commented on #326
Coolio!

On Sun, Mar 6, 2016 at 8:25 AM, Carl Christian Madrid <
notifications@github.com> wrote:

[2016-03-24 19:25] natalie-macpherson commented on #337
I'm really busy so I have not had time to make this fix. This is what we need to do in order to make the clock work in IE. If anybody has time to make the changes to the js files for the clock it would be great. If we are all overwhelm with our internships and we don't change it then it's all good it will just suck that it doesn't work in all browsers. Here is the link to the fix:

http://stackove

[2017-11-28 15:32] #319 closed

[2017-11-28 15:32] #322 closed

[2017-11-28 15:32] #326 closed

[2017-11-28 15:32] #335 closed

[2017-11-28 15:32] #336 closed

[2017-11-28 15:32] #337 closed